services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3001:3000"
    volumes:
      - /frontend/node_modules
      - .:/frontend

  tests:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - /frontend/node_modules
      - .:/frontend
    command: npm run test -- --watchAll
    stdin_open: true
    tty: true
    environment:
      CI: "false"
