name: main docker-react
on:
  push:
    branches:
      - main # check your repo, your default branch might be master!
 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - run: docker build -t huiying530/docker_react -f Dockerfile.dev .
      - run: docker run -e CI=true huiying530/docker_react npm run test
 
      - name: Generate deployment package
        run: zip -r docker-react.zip . -x '*.git*'
 
      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          application_name: docker-react
          environment_name: docker-react-env
          existing_bucket_name: elasticbeanstalk-ap-southeast-1-083597744184
          region: ap-southeast-1
          version_label: ${{ github.sha }}
          deployment_package: docker-react.zip